<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Estado | Sistema Xochimilco</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mediaqueries.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/Ico_UNAM.png') }}">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
	<!-- POPO -->

   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    	$(document).ready(function(){
    	    var socket = io();
    	   
    	    socket.on('connect',function(){
    	        socket.emit('eventoConexion');
    	    });


    	    google.charts.load('current', {'packages':['corechart']});
    	    google.charts.setOnLoadCallback(drawChart);
    	    var datosOX = [
    	            ['i','Oxígeno'],
    	            [0,0]
    	            ];
    	    
    	    function drawChart(){
    	        var dataOX = google.visualization.arrayToDataTable(datosOX);

    	        var optionsOX = {
    	            title:'',
    	            curveType:'function',
    	            legend:{position:'none'},
    	            colors:['red'],
    	            hAxis:{textPosition:'none'}
    	        };


    	        var chartOX = new google.visualization.LineChart(document.getElementById('grafOX'))
    	        chartOX.draw(dataOX,optionsOX);

    	        socket.on('eventoDatosS',function(message){     

    	            var dataOX = new google.visualization.DataTable(message.ox);
    	            $('#valorOX').html(message.oxD);


    	            chartOX.draw(dataOX,optionsOX);


    	        });
    	    }

    	}); 
    </script>


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="mr-auto">
				<img src="{{ url_for('static',filename='img/Logo_UNAM.png') }}" alt="Logo UNAM">
                <img src="{{ url_for('static',filename='img/Logo_Fi.png') }}" alt="Logo FI') }}">
                <img src="{{ url_for('static',filename='img/Logo_FQ.png') }}" alt="Logo FQ') }}">
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('historial') }}">Historial</a>
					</li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Estado del sistema<span class="sr-only">(current)</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">General</a>
							<a class="dropdown-item" href="{{ url_for('phs') }}">PH</a>
							<a class="dropdown-item" href="#">Oxígeno disuelto</a>
							<a class="dropdown-item" href="{{ url_for('turbidez') }}">Turbidez</a>
							<a class="dropdown-item" href="{{ url_for('flujoF') }}">Flujo</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
		<main>



		<div class="container-fluid mb-2 pb-3 pt-3">
			<div class = "row">
			<div class=" column col-12 align-self-center" >
				<p class="estado_sist text-center">Oxígeno disuelto</p> 
			<div class="" id=grafOX></div>
			  <p class="estado_sist text-center" id=valorOX></p>
			</div>

			</div>

		</div>

              
		</main>
	<footer class="text-center pt-2 pt-md-2 pl-2 pr-2 pb-0">
		<p>
			Interfaz creada por el equipo Awuas™ de la Facultad de Ingenería de la UNAM en colaboración con la Facultad de Química de la UNAM<br>Abril 2020
		</p>
	</footer>
</body>
<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</html>
